<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>C</string>
    <string>P</string>
    <string>R</string>
    <string>B</string>
    <string>G</string>
    <string>O</string>
    <string>Q</string>
    <string>T</string>
    <string>D</string>
    <string>F</string>
    <string>E</string>
    <string>I</string>
    <string>L</string>
    <string>H</string>
    <string>zero</string>
    <string>eight</string>
    <string>three</string>
    <string>six</string>
    <string>nine</string>
    <string>U</string>
    <string>bar</string>
    <string>plus</string>
    <string>hyphen</string>
    <string>five</string>
    <string>J</string>
    <string>A</string>
    <string>K</string>
    <string>M</string>
    <string>N</string>
    <string>S</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>one</string>
    <string>four</string>
    <string>seven</string>
    <string>two</string>
    <string>percent</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>comma</string>
    <string>asterisk</string>
    <string>period</string>
    <string>multiply</string>
    <string>divide</string>
    <string>quotesingle</string>
    <string>quotedbl</string>
    <string>exclam</string>
    <string>numbersign</string>
    <string>c</string>
    <string>b</string>
    <string>d</string>
    <string>e</string>
    <string>h</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>u</string>
    <string>l</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>g</string>
    <string>f</string>
    <string>t</string>
    <string>r</string>
    <string>a</string>
    <string>z</string>
    <string>x</string>
    <string>m</string>
    <string>s</string>
    <string>v</string>
    <string>w</string>
    <string>y</string>
    <string>equal</string>
    <string>underscore</string>
    <string>less</string>
    <string>greater</string>
    <string>slash</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>space</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>bracketright</string>
    <string>bracketleft</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>question</string>
    <string>dollar</string>
    <string>at</string>
    <string>ampersand</string>
    <string>degree</string>
    <string>zero.superior</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>four.superior</string>
    <string>five.superior</string>
    <string>six.superior</string>
    <string>seven.superior</string>
    <string>eight.superior</string>
    <string>nine.superior</string>
    <string>four.inferior</string>
    <string>five.inferior</string>
    <string>six.inferior</string>
    <string>seven.inferior</string>
    <string>eight.inferior</string>
    <string>nine.inferior</string>
    <string>zero.inferior</string>
    <string>two.inferior</string>
    <string>three.inferior</string>
    <string>one.inferior</string>
    <string>n.superior</string>
    <string>rsupmod</string>
    <string>gmod</string>
    <string>einferior</string>
    <string>pinferior</string>
    <string>ninferior</string>
    <string>minferior</string>
    <string>Asmall</string>
    <string>Bsmall</string>
    <string>Csmall</string>
    <string>Fsmall</string>
    <string>Jsmall</string>
    <string>Ksmall</string>
    <string>Nsmall</string>
    <string>Psmall</string>
    <string>HexA</string>
    <string>HexB</string>
    <string>HexC-nCr</string>
    <string>HexD</string>
    <string>HexE</string>
    <string>HexF</string>
    <string>nPr</string>
    <string>x.bar</string>
    <string>x.hat</string>
    <string>y.bar</string>
    <string>y.hat</string>
    <string>times.small</string>
    <string>EE</string>
    <string>times.small.2</string>
    <string>EE-</string>
    <string>ten.small</string>
    <string>minus.one.superior</string>
    <string>ten.superior</string>
    <string>x.itc.superior</string>
    <string>tau.itc.inferior</string>
    <string>mu.itc.inferior</string>
    <string>pm.inferior</string>
    <string>infty.inferior</string>
    <string>Calth-gk</string>
    <string>cAlth-gk</string>
    <string>caLTh-gk</string>
    <string>caltH-gk</string>
    <string>calth-gk</string>
    <string>calth-Gk</string>
    <string>calth-gK</string>
    <string>to</string>
    <string>kgk</string>
    <string>Kgk</string>
    <string>kGk</string>
    <string>kgK</string>
    <string>div</string>
    <string>dms</string>
    <string>cursor.replace</string>
    <string>cursor.full</string>
    <string>BOX</string>
    <string>cut</string>
    <string>paste</string>
    <string>divR-Fr</string>
    <string>divR-Sp</string>
    <string>arrow-hook.up</string>
    <string>Shaku.Length</string>
    <string>Sun</string>
    <string>Fun</string>
    <string>Ken</string>
    <string>Chou</string>
    <string>Ri</string>
    <string>Kai</string>
    <string>Jou</string>
    <string>Mou</string>
    <string>Rin</string>
    <string>Bu</string>
    <string>Shaku.Volume</string>
    <string>Tsubo</string>
    <string>Se</string>
    <string>Tan</string>
    <string>Shou</string>
    <string>Gou</string>
    <string>To</string>
    <string>Koku</string>
    <string>Kan</string>
    <string>Monme</string>
    <string>Kin</string>
    <string>Gbold</string>
    <string>Mbold</string>
    <string>Pbold</string>
    <string>Tbold</string>
    <string>fbold</string>
    <string>kbold</string>
    <string>mbold</string>
    <string>nbold</string>
    <string>pbold</string>
    <string>Fitalic</string>
    <string>titalic</string>
    <string>ebolditalic</string>
    <string>ibolditalic</string>
    <string>xbolditalic</string>
    <string>ybolditalic</string>
    <string>zbolditalic</string>
    <string>alpha</string>
    <string>gammaitalic</string>
    <string>epsilonitalic</string>
    <string>thetaitalic</string>
    <string>lamdaitalic</string>
    <string>muitalic</string>
    <string>piitalic</string>
    <string>sigmaitalic</string>
    <string>phisymbolitalic</string>
    <string>mubolditalic</string>
    <string>minus.inferior</string>
    <string>parenleft.inferior</string>
    <string>parenright.inferior</string>
    <string>litre</string>
    <string>angstrom</string>
    <string>arrowright</string>
    <string>arrowanticlockwiseopencircle</string>
    <string>arrowdblright</string>
    <string>whitearrowdown</string>
    <string>product</string>
    <string>summation</string>
    <string>minus</string>
    <string>radical</string>
    <string>cuberoot-math</string>
    <string>angle</string>
    <string>integral</string>
    <string>notequal</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>dotmath</string>
    <string>shade</string>
    <string>triagup</string>
    <string>trianglerightblack</string>
    <string>trianglerightwhite</string>
    <string>trianglerightsmallblack</string>
    <string>triagdn</string>
    <string>triangleleftblack</string>
    <string>triangleleftwhite</string>
    <string>plancktwopi</string>
    <string>circle</string>
    <string>fisheye</string>
    <string>noentry</string>
    <string>dietwo</string>
    <string>triangle.left-below</string>
    <string>triangle.right-above</string>
    <string>triangle.left.right</string>
    <string>triangle.up.down</string>
    <string>uniE032</string>
    <string>uniE033</string>
    <string>coin</string>
    <string>uniE035</string>
    <string>uniE036</string>
    <string>uniE037</string>
    <string>clockFaceThreeOclock</string>
    <string>Eth</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Abreve</string>
    <string>Aogonek</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>Thorn</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>OE</string>
    <string>Dcaron</string>
    <string>Eogonek</string>
    <string>Ebreve</string>
    <string>Lslash</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ohungarumlaut</string>
    <string>Rcaron</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Tcaron</string>
    <string>Uring</string>
    <string>Uhungarumlaut</string>
    <string>Zacute</string>
    <string>Zdotaccent</string>
    <string>exclamdown</string>
    <string>questiondown</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>germandbls</string>
    <string>ydieresis</string>
    <string>abreve</string>
    <string>aogonek</string>
    <string>cacute</string>
    <string>oe</string>
    <string>ccaron</string>
    <string>dcaron</string>
    <string>eogonek</string>
    <string>ecaron</string>
    <string>lslash</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ohungarumlaut</string>
    <string>rcaron</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>tcaron</string>
    <string>uring</string>
    <string>uhungarumlaut</string>
    <string>zacute</string>
    <string>zdotaccent</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Racute</string>
    <string>Zcaron</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>racute</string>
    <string>zcaron</string>
    <string>Acyr</string>
    <string>Vecyr</string>
    <string>Gecyr</string>
    <string>Becyr</string>
    <string>Decyr</string>
    <string>Iecyr</string>
    <string>Encyr</string>
    <string>Ocyr</string>
    <string>Emcyr</string>
    <string>Kacyr</string>
    <string>Icyr</string>
    <string>Ishortcyr</string>
    <string>Zecyr</string>
    <string>Zhecyr</string>
    <string>Tecyr</string>
    <string>Pecyr</string>
    <string>Ercyr</string>
    <string>Escyr</string>
    <string>Hacyr</string>
    <string>Yacyr</string>
    <string>Softcyr</string>
    <string>Hardcyr</string>
    <string>Ylongcyr</string>
    <string>Tsecyr</string>
    <string>Shacyr</string>
    <string>elcyr</string>
    <string>Shchacyr</string>
    <string>Elcyr</string>
    <string>Ucyr</string>
    <string>Efcyr</string>
    <string>Checyr</string>
    <string>Ereversedcyr</string>
    <string>Yucyr</string>
    <string>acyr</string>
    <string>vecyr</string>
    <string>becyr</string>
    <string>gecyr</string>
    <string>iecyr</string>
    <string>icyr</string>
    <string>ishortcyr</string>
    <string>ocyr</string>
    <string>escyr</string>
    <string>ercyr</string>
    <string>ucyr</string>
    <string>hacyr</string>
    <string>ereversedcyr</string>
    <string>zecyr</string>
    <string>decyr</string>
    <string>zhecyr</string>
    <string>kacyr</string>
    <string>encyr</string>
    <string>emcyr</string>
    <string>pecyr</string>
    <string>tecyr</string>
    <string>efcyr</string>
    <string>tsecyr</string>
    <string>checyr</string>
    <string>shacyr</string>
    <string>shchacyr</string>
    <string>yucyr</string>
    <string>softcyr</string>
    <string>ylongcyr</string>
    <string>hardcyr</string>
    <string>yacyr</string>
    <string>Tshecyr</string>
    <string>tshecyr</string>
    <string>Dzhecyr</string>
    <string>dzhecyr</string>
    <string>Djecyr</string>
    <string>djecyr</string>
    <string>Jecyr</string>
    <string>jecyr</string>
    <string>Ljecyr</string>
    <string>ljecyr</string>
    <string>Njecyr</string>
    <string>njecyr</string>
    <string>Iocyr</string>
    <string>iocyr</string>
    <string>Dzcaron</string>
    <string>dzcaron</string>
    <string>Dcroat</string>
    <string>dcroat</string>
    <string>Lj</string>
    <string>lj</string>
    <string>Nj</string>
    <string>nj</string>
    <string>Adotbelow</string>
    <string>Abreveacute</string>
    <string>Abrevegrave</string>
    <string>Abrevedotbelow</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflexhoi</string>
    <string>Acircumflexdotbelow</string>
    <string>Etilde</string>
    <string>Edotbelow</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflexhoi</string>
    <string>Ecircumflextilde</string>
    <string>Ecircumflexdotbelow</string>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflexhoi</string>
    <string>Ocircumflextilde</string>
    <string>Ocircumflexdotbelow</string>
    <string>Odotbelow</string>
    <string>Idotbelow</string>
    <string>Udotbelow</string>
    <string>Ohorn</string>
    <string>Uhorn</string>
    <string>Itilde</string>
    <string>Ahoi</string>
    <string>Utilde</string>
    <string>Uhoi</string>
    <string>Ihoi</string>
    <string>Ohoi</string>
    <string>Ehoi</string>
    <string>Ygrave</string>
    <string>Ohorndotbelow</string>
    <string>Ohornacute</string>
    <string>Ohorngrave</string>
    <string>Ohornhoi</string>
    <string>Ohorntilde</string>
    <string>Ydotbelow</string>
    <string>Ytilde</string>
    <string>Yhoi</string>
    <string>Abrevehoi</string>
    <string>Abrevetilde</string>
    <string>Acircumflextilde</string>
    <string>ahoi</string>
    <string>odotbelow</string>
    <string>udotbelow</string>
    <string>ohoi</string>
    <string>utilde</string>
    <string>uhoi</string>
    <string>adotbelow</string>
    <string>etilde</string>
    <string>edotbelow</string>
    <string>idotbelow</string>
    <string>Uhorndotbelow</string>
    <string>ohorn</string>
    <string>Uhornacute</string>
    <string>Uhorngrave</string>
    <string>Uhornhoi</string>
    <string>ydotbelow</string>
    <string>ytilde</string>
    <string>yhoi</string>
    <string>itilde</string>
    <string>ihoi</string>
    <string>ehoi</string>
    <string>uhorn</string>
    <string>ohorntilde</string>
    <string>ygrave</string>
    <string>uhorngrave</string>
    <string>uhornhoi</string>
    <string>ohorngrave</string>
    <string>ohornhoi</string>
    <string>ohornacute</string>
    <string>ocircumflexdotbelow</string>
    <string>ocircumflexgrave</string>
    <string>uhornacute</string>
    <string>uhorntilde</string>
    <string>uhorndotbelow</string>
    <string>ohorndotbelow</string>
    <string>Uhorntilde</string>
    <string>ocircumflexacute</string>
    <string>ecircumflexacute</string>
    <string>ecircumflexgrave</string>
    <string>ecircumflexhoi</string>
    <string>ecircumflexdotbelow</string>
    <string>acircumflextilde</string>
    <string>abrevetilde</string>
    <string>abrevehoi</string>
    <string>ocircumflexhoi</string>
    <string>ocircumflextilde</string>
    <string>abrevedotbelow</string>
    <string>acircumflexacute</string>
    <string>acircumflexgrave</string>
    <string>acircumflexhoi</string>
    <string>acircumflexdotbelow</string>
    <string>abrevegrave</string>
    <string>abreveacute</string>
    <string>ecircumflextilde</string>
    <string>filledbox</string>
    <string>squarewhite</string>
    <string>blackLargeSquare</string>
    <string>whiteLargeSquare</string>
    <string>Tsmall</string>
    <string>uinferior</string>
    <string>hinferior</string>
    <string>tinferior</string>
    <string>Ismall</string>
    <string>Ebold</string>
    <string>minus.one.inferior</string>
    <string>execute-tag</string>
    <string>ideographicperiod</string>
    <string>a-hira</string>
    <string>i-hira</string>
    <string>e-hira</string>
    <string>o-hira</string>
    <string>ka-hira</string>
    <string>ga-hira</string>
    <string>ki-hira</string>
    <string>ku-hira</string>
    <string>ke-hira</string>
    <string>ko-hira</string>
    <string>sa-hira</string>
    <string>si-hira</string>
    <string>su-hira</string>
    <string>se-hira</string>
    <string>so-hira</string>
    <string>ta-hira</string>
    <string>da-hira</string>
    <string>tu-hira</string>
    <string>te-hira</string>
    <string>de-hira</string>
    <string>to-hira</string>
    <string>na-hira</string>
    <string>ni-hira</string>
    <string>nu-hira</string>
    <string>no-hira</string>
    <string>ha-hira</string>
    <string>bi-hira</string>
    <string>be-hira</string>
    <string>ma-hira</string>
    <string>me-hira</string>
    <string>yo-hira</string>
    <string>ri-hira</string>
    <string>ru-hira</string>
    <string>wo-hira</string>
    <string>n-hira</string>
    <string>uni4E00</string>
    <string>uni4E09</string>
    <string>uni4E0A</string>
    <string>uni4E0B</string>
    <string>uni4E0D</string>
    <string>uni4E0E</string>
    <string>uni4E24</string>
    <string>uni4E2A</string>
    <string>uni4E2D</string>
    <string>uni4E3A</string>
    <string>uni4E49</string>
    <string>uni4E58</string>
    <string>uni4E86</string>
    <string>uni4E88</string>
    <string>uni4E8B</string>
    <string>uni4E8C</string>
    <string>uni4E94</string>
    <string>uni4EA4</string>
    <string>uni4ED5</string>
    <string>uni4ED6</string>
    <string>uni4ED8</string>
    <string>uni4EE3</string>
    <string>uni4EE5</string>
    <string>uni4EEE</string>
    <string>uni4F4D</string>
    <string>uni4F53</string>
    <string>uni4F59</string>
    <string>uni4F5C</string>
    <string>uni4F7F</string>
    <string>uni4F8B</string>
    <string>uni500D</string>
    <string>uni5024</string>
    <string>uni503C</string>
    <string>uni5047</string>
    <string>uni504F</string>
    <string>uni507D</string>
    <string>uni50A8</string>
    <string>uni50CF</string>
    <string>uni5143</string>
    <string>uni5145</string>
    <string>uni5146</string>
    <string>uni5149</string>
    <string>uni5165</string>
    <string>uni5168</string>
    <string>uni516B</string>
    <string>uni516C</string>
    <string>uni516D</string>
    <string>uni5171</string>
    <string>uni5173</string>
    <string>uni5176</string>
    <string>uni5177</string>
    <string>uni5185</string>
    <string>uni518D</string>
    <string>uni51C6</string>
    <string>uni51FA</string>
    <string>uni51FD</string>
    <string>uni5206</string>
    <string>uni5207</string>
    <string>uni5217</string>
    <string>uni5219</string>
    <string>uni521B</string>
    <string>uni521D</string>
    <string>uni5220</string>
    <string>uni5230</string>
    <string>uni5236</string>
    <string>uni523B</string>
    <string>uni5242</string>
    <string>uni524A</string>
    <string>uni524D</string>
    <string>uni5269</string>
    <string>uni526A</string>
    <string>uni529B</string>
    <string>uni529F</string>
    <string>uni52A0</string>
    <string>uni52A8</string>
    <string>uni52B9</string>
    <string>uni52D5</string>
    <string>uni5316</string>
    <string>uni533A</string>
    <string>uni5341</string>
    <string>uni5343</string>
    <string>uni5347</string>
    <string>uni534A</string>
    <string>uni5354</string>
    <string>uni5355</string>
    <string>uni5358</string>
    <string>uni5361</string>
    <string>uni538B</string>
    <string>uni539F</string>
    <string>uni53C2</string>
    <string>uni53C9</string>
    <string>uni53CC</string>
    <string>uni53CD</string>
    <string>uni53D6</string>
    <string>uni53D8</string>
    <string>uni53E5</string>
    <string>uni53EF</string>
    <string>uni53F7</string>
    <string>uni5408</string>
    <string>uni5409</string>
    <string>uni540C</string>
    <string>uni5411</string>
    <string>uni5426</string>
    <string>uni542F</string>
    <string>uni5438</string>
    <string>uni5468</string>
    <string>uni548C</string>
    <string>uni5668</string>
    <string>uni56DB</string>
    <string>uni56DE</string>
    <string>uni56E0</string>
    <string>uni56F2</string>
    <string>uni56F4</string>
    <string>uni5706</string>
    <string>uni5727</string>
    <string>uni5728</string>
    <string>uni5747</string>
    <string>uni5750</string>
    <string>uni578B</string>
    <string>uni57DF</string>
    <string>uni57FA</string>
    <string>uni5806</string>
    <string>uni5831</string>
    <string>uni586B</string>
    <string>uni5909</string>
    <string>uni590D</string>
    <string>uni591A</string>
    <string>uni5927</string>
    <string>uni592A</string>
    <string>uni5934</string>
    <string>uni5939</string>
    <string>uni5957</string>
    <string>uni5982</string>
    <string>uni59CB</string>
    <string>uni5B50</string>
    <string>uni5B57</string>
    <string>uni5B58</string>
    <string>uni5B66</string>
    <string>uni5B9A</string>
    <string>uni5B9E</string>
    <string>uni5B9F</string>
    <string>uni5BB9</string>
    <string>uni5BC6</string>
    <string>uni5BF9</string>
    <string>uni5BFC</string>
    <string>uni5BFE</string>
    <string>uni5C04</string>
    <string>uni5C0F</string>
    <string>uni5C40</string>
    <string>uni5D4C</string>
    <string>uni5DE5</string>
    <string>uni5DEE</string>
    <string>uni5E01</string>
    <string>uni5E03</string>
    <string>uni5E26</string>
    <string>uni5E2F</string>
    <string>uni5E30</string>
    <string>uni5E38</string>
    <string>uni5E73</string>
    <string>uni5E76</string>
    <string>uni5E8F</string>
    <string>uni5EA6</string>
    <string>uni5EA7</string>
    <string>uni5EFA</string>
    <string>uni5F00</string>
    <string>uni5F0F</string>
    <string>uni5F15</string>
    <string>uni5F27</string>
    <string>uni5F37</string>
    <string>uni5F3A</string>
    <string>uni5F52</string>
    <string>uni5F53</string>
    <string>uni5F62</string>
    <string>uni5F79</string>
    <string>uni5F80</string>
    <string>uni5F85</string>
    <string>uni5FAA</string>
    <string>uni5FAE</string>
    <string>uni5FC3</string>
    <string>uni5FDC</string>
    <string>uni6001</string>
    <string>uni6027</string>
    <string>uni60C5</string>
    <string>uni6210</string>
    <string>uni623B</string>
    <string>uni6240</string>
    <string>uni624B</string>
    <string>uni6267</string>
    <string>uni6293</string>
    <string>uni629B</string>
    <string>uni629E</string>
    <string>uni62AC</string>
    <string>uni62BC</string>
    <string>uni62BD</string>
    <string>uni62CD</string>
    <string>uni62E9</string>
    <string>uni62EC</string>
    <string>uni6301</string>
    <string>uni6307</string>
    <string>uni6309</string>
    <string>uni633F</string>
    <string>uni6362</string>
    <string>uni636E</string>
    <string>uni6392</string>
    <string>uni63B7</string>
    <string>uni63D0</string>
    <string>uni63D2</string>
    <string>uni64A4</string>
    <string>uni652F</string>
    <string>uni6536</string>
    <string>uni6539</string>
    <string>uni653E</string>
    <string>uni6563</string>
    <string>uni6570</string>
    <string>uni6574</string>
    <string>uni6587</string>
    <string>uni65AD</string>
    <string>uni65B0</string>
    <string>uni65B9</string>
    <string>uni65CB</string>
    <string>uni65E0</string>
    <string>uni65E5</string>
    <string>uni65F6</string>
    <string>uni662F</string>
    <string>uni663E</string>
    <string>uni6642</string>
    <string>uni666E</string>
    <string>uni666F</string>
    <string>uni66F2</string>
    <string>uni66F4</string>
    <string>uni66F8</string>
    <string>uni66FF</string>
    <string>uni6700</string>
    <string>uni6709</string>
    <string>uni671F</string>
    <string>uni672A</string>
    <string>uni672C</string>
    <string>uni673A</string>
    <string>uni675F</string>
    <string>uni677E</string>
    <string>uni6781</string>
    <string>uni6790</string>
    <string>uni679A</string>
    <string>uni679C</string>
    <string>uni6807</string>
    <string>uni6808</string>
    <string>uni6837</string>
    <string>uni6838</string>
    <string>uni6839</string>
    <string>uni683C</string>
    <string>uni6841</string>
    <string>uni68AF</string>
    <string>uni691C</string>
    <string>uni6975</string>
    <string>uni6982</string>
    <string>uni6A19</string>
    <string>uni6B21</string>
    <string>uni6B62</string>
    <string>uni6B63</string>
    <string>uni6B65</string>
    <string>uni6BB5</string>
    <string>uni6BD4</string>
    <string>uni6BEB</string>
    <string>uni6C17</string>
    <string>uni6C42</string>
    <string>uni6C7A</string>
    <string>uni6CCA</string>
    <string>uni6CD5</string>
    <string>uni6CDB</string>
    <string>uni6CE8</string>
    <string>uni6D41</string>
    <string>uni6D45</string>
    <string>uni6D88</string>
    <string>uni6DE1</string>
    <string>uni6DF1</string>
    <string>uni6E05</string>
    <string>uni6E29</string>
    <string>uni6E90</string>
    <string>uni6E96</string>
    <string>uni6F38</string>
    <string>uni6FC3</string>
    <string>uni70B9</string>
    <string>uni70ED</string>
    <string>uni7121</string>
    <string>uni7136</string>
    <string>uni7167</string>
    <string>uni71B1</string>
    <string>uni7248</string>
    <string>uni7269</string>
    <string>uni7387</string>
    <string>uni73AF</string>
    <string>uni73FE</string>
    <string>uni7406</string>
    <string>uni74B0</string>
    <string>uni751F</string>
    <string>uni7528</string>
    <string>uni7535</string>
    <string>uni753B</string>
    <string>uni754C</string>
    <string>uni767B</string>
    <string>uni767E</string>
    <string>uni7684</string>
    <string>uni76AE</string>
    <string>uni76D2</string>
    <string>uni76EE</string>
    <string>uni76F4</string>
    <string>uni76F8</string>
    <string>uni771F</string>
    <string>uni77E5</string>
    <string>uni77E9</string>
    <string>uni7801</string>
    <string>uni786C</string>
    <string>uni786E</string>
    <string>uni78BA</string>
    <string>uni78BC</string>
    <string>uni78C1</string>
    <string>uni793A</string>
    <string>uni795E</string>
    <string>uni79D1</string>
    <string>uni79D2</string>
    <string>uni79EF</string>
    <string>uni79FB</string>
    <string>uni7A0B</string>
    <string>uni7A4D</string>
    <string>uni7A77</string>
    <string>uni7A7A</string>
    <string>uni7A97</string>
    <string>uni7ACB</string>
    <string>uni7AEF</string>
    <string>uni7B14</string>
    <string>uni7B26</string>
    <string>uni7B49</string>
    <string>uni7B80</string>
    <string>uni7B97</string>
    <string>uni7BAD</string>
    <string>uni7BC4</string>
    <string>uni7C7B</string>
    <string>uni7C92</string>
    <string>uni7C98</string>
    <string>uni7CFB</string>
    <string>uni7D04</string>
    <string>uni7D20</string>
    <string>uni7D2F</string>
    <string>uni7D42</string>
    <string>uni7D50</string>
    <string>uni7D71</string>
    <string>uni7D99</string>
    <string>uni7D9A</string>
    <string>uni7DCF</string>
    <string>uni7DDA</string>
    <string>uni7DE8</string>
    <string>uni7EA6</string>
    <string>uni7EB3</string>
    <string>uni7EBF</string>
    <string>uni7EC4</string>
    <string>uni7EC8</string>
    <string>uni7ED3</string>
    <string>uni7EDD</string>
    <string>uni7EDF</string>
    <string>uni7EE7</string>
    <string>uni7EED</string>
    <string>uni7EF4</string>
    <string>uni7F00</string>
    <string>uni7F16</string>
    <string>uni7F51</string>
    <string>uni7F6E</string>
    <string>uni8054</string>
    <string>uni80CC</string>
    <string>uni80FD</string>
    <string>uni81EA</string>
    <string>uni81F3</string>
    <string>uni820D</string>
    <string>uni827E</string>
    <string>uni8282</string>
    <string>uni8303</string>
    <string>uni865A</string>
    <string>uni884C</string>
    <string>uni8868</string>
    <string>uni88AB</string>
    <string>uni8907</string>
    <string>uni898F</string>
    <string>uni89A7</string>
    <string>uni89C4</string>
    <string>uni89C6</string>
    <string>uni89D2</string>
    <string>uni89E3</string>
    <string>uni8A00</string>
    <string>uni8A08</string>
    <string>uni8A18</string>
    <string>uni8A2D</string>
    <string>uni8A3C</string>
    <string>uni8A9E</string>
    <string>uni8AA4</string>
    <string>uni8BA1</string>
    <string>uni8BA4</string>
    <string>uni8BB0</string>
    <string>uni8BBE</string>
    <string>uni8BC1</string>
    <string>uni8BE2</string>
    <string>uni8BED</string>
    <string>uni8BEF</string>
    <string>uni8C03</string>
    <string>uni8CBC</string>
    <string>uni8CEA</string>
    <string>uni8D28</string>
    <string>uni8D34</string>
    <string>uni8D4B</string>
    <string>uni8D85</string>
    <string>uni8DB3</string>
    <string>uni8DEF</string>
    <string>uni8EE2</string>
    <string>uni8F6C</string>
    <string>uni8F6D</string>
    <string>uni8F74</string>
    <string>uni8F90</string>
    <string>uni8F91</string>
    <string>uni8F93</string>
    <string>uni8FC7</string>
    <string>uni8FD0</string>
    <string>uni8FD4</string>
    <string>uni8FDB</string>
    <string>uni9000</string>
    <string>uni9006</string>
    <string>uni9009</string>
    <string>uni9012</string>
    <string>uni9017</string>
    <string>uni901A</string>
    <string>uni901F</string>
    <string>uni9023</string>
    <string>uni9032</string>
    <string>uni903B</string>
    <string>uni904D</string>
    <string>uni9078</string>
    <string>uni90E8</string>
    <string>uni914D</string>
    <string>uni91C7</string>
    <string>uni91CA</string>
    <string>uni91CC</string>
    <string>uni91CD</string>
    <string>uni91CF</string>
    <string>uni9332</string>
    <string>uni949F</string>
    <string>uni9515</string>
    <string>uni9519</string>
    <string>uni952E</string>
    <string>uni9567</string>
    <string>uni9577</string>
    <string>uni957F</string>
    <string>uni958B</string>
    <string>uni9593</string>
    <string>uni95A2</string>
    <string>uni95ED</string>
    <string>uni95EE</string>
    <string>uni95F4</string>
    <string>uni9635</string>
    <string>uni9636</string>
    <string>uni964D</string>
    <string>uni9650</string>
    <string>uni9664</string>
    <string>uni968E</string>
    <string>uni968F</string>
    <string>uni9694</string>
    <string>uni96C6</string>
    <string>uni96FB</string>
    <string>uni975E</string>
    <string>uni9762</string>
    <string>uni9805</string>
    <string>uni9879</string>
    <string>uni9891</string>
    <string>uni98DE</string>
    <string>uni9A8C</string>
    <string>uni9AB0</string>
    <string>uni9AD8</string>
    <string>uni4E00_uniFE00</string>
    <string>uni4E0A_uniFE00</string>
    <string>uni4E0B_uniFE00</string>
    <string>uni4E0D_uniFE00</string>
    <string>uni4E2D_uniFE00</string>
    <string>uni4E8C_uniFE00</string>
    <string>uni4ED6_uniFE00</string>
    <string>uni4EE5_uniFE00</string>
    <string>uni4F4D_uniFE00</string>
    <string>uni4F53_uniFE00</string>
    <string>uni504F_uniFE00</string>
    <string>uni5143_uniFE00</string>
    <string>uni5149_uniFE00</string>
    <string>uni5165_uniFE00</string>
    <string>uni516C_uniFE00</string>
    <string>uni5171_uniFE00</string>
    <string>uni5185_uniFE00</string>
    <string>uni51FA_uniFE00</string>
    <string>uni5206_uniFE00</string>
    <string>uni5207_uniFE00</string>
    <string>uni5217_uniFE00</string>
    <string>uni521D_uniFE00</string>
    <string>uni5236_uniFE00</string>
    <string>uni529B_uniFE00</string>
    <string>uni52A0_uniFE00</string>
    <string>uni5316_uniFE00</string>
    <string>uni533A_uniFE00</string>
    <string>uni539F_uniFE00</string>
    <string>uni53CC_uniFE00</string>
    <string>uni53D6_uniFE00</string>
    <string>uni53EF_uniFE00</string>
    <string>uni53F7_uniFE00</string>
    <string>uni5468_uniFE00</string>
    <string>uni548C_uniFE00</string>
    <string>uni56DE_uniFE00</string>
    <string>uni5747_uniFE00</string>
    <string>uni57FA_uniFE00</string>
    <string>uni5927_uniFE00</string>
    <string>uni59CB_uniFE00</string>
    <string>uni5B50_uniFE00</string>
    <string>uni5B66_uniFE00</string>
    <string>uni5B9A_uniFE00</string>
    <string>uni5BB9_uniFE00</string>
    <string>uni5BC6_uniFE00</string>
    <string>uni5C04_uniFE00</string>
    <string>uni5C0F_uniFE00</string>
    <string>uni5DEE_uniFE00</string>
    <string>uni5E03_uniFE00</string>
    <string>uni5E73_uniFE00</string>
    <string>uni5EA6_uniFE00</string>
    <string>uni5F0F_uniFE00</string>
    <string>uni5F15_uniFE00</string>
    <string>uni5F27_uniFE00</string>
    <string>uni5F62_uniFE00</string>
    <string>uni5FAA_uniFE00</string>
    <string>uni6210_uniFE00</string>
    <string>uni624B_uniFE00</string>
    <string>uni6307_uniFE00</string>
    <string>uni653E_uniFE00</string>
    <string>uni6570_uniFE00</string>
    <string>uni65AD_uniFE00</string>
    <string>uni65B9_uniFE00</string>
    <string>uni666E_uniFE00</string>
    <string>uni66F2_uniFE00</string>
    <string>uni6700_uniFE00</string>
    <string>uni6709_uniFE00</string>
    <string>uni671F_uniFE00</string>
    <string>uni672C_uniFE00</string>
    <string>uni679C_uniFE00</string>
    <string>uni6B21_uniFE00</string>
    <string>uni6B63_uniFE00</string>
    <string>uni6BD4_uniFE00</string>
    <string>uni6C42_uniFE00</string>
    <string>uni6CD5_uniFE00</string>
    <string>uni6D41_uniFE00</string>
    <string>uni6E29_uniFE00</string>
    <string>uni70B9_uniFE00</string>
    <string>uni7136_uniFE00</string>
    <string>uni7167_uniFE00</string>
    <string>uni7269_uniFE00</string>
    <string>uni7387_uniFE00</string>
    <string>uni7406_uniFE00</string>
    <string>uni7528_uniFE00</string>
    <string>uni7684_uniFE00</string>
    <string>uni76EE_uniFE00</string>
    <string>uni76F4_uniFE00</string>
    <string>uni78C1_uniFE00</string>
    <string>uni793A_uniFE00</string>
    <string>uni7A0B_uniFE00</string>
    <string>uni7A7A_uniFE00</string>
    <string>uni7ACB_uniFE00</string>
    <string>uni7B49_uniFE00</string>
    <string>uni7B97_uniFE00</string>
    <string>uni7C98_uniFE00</string>
    <string>uni7D20_uniFE00</string>
    <string>uni7D2F_uniFE00</string>
    <string>uni7F6E_uniFE00</string>
    <string>uni80FD_uniFE00</string>
    <string>uni81EA_uniFE00</string>
    <string>uni865A_uniFE00</string>
    <string>uni884C_uniFE00</string>
    <string>uni8868_uniFE00</string>
    <string>uni89D2_uniFE00</string>
    <string>uni89E3_uniFE00</string>
    <string>uni8A00_uniFE00</string>
    <string>uni8D85_uniFE00</string>
    <string>uni9006_uniFE00</string>
    <string>uni901F_uniFE00</string>
    <string>uni90E8_uniFE00</string>
    <string>uni91CF_uniFE00</string>
    <string>uni9650_uniFE00</string>
    <string>uni9664_uniFE00</string>
    <string>uni9762_uniFE00</string>
    <string>uniFE00</string>
    <string>ellipsis</string>
    <string>shift-tag</string>
    <string>alpha-tag</string>
    <string>M-memory</string>
    <string>store</string>
    <string>math-input</string>
    <string>deg-mode</string>
    <string>rad-mode</string>
    <string>grad-mod</string>
    <string>fix-mode</string>
    <string>sci-mode</string>
    <string>engineer-sym</string>
    <string>complex-cartesian</string>
    <string>complex-polar</string>
    <string>simplify-mode</string>
    <string>left-tag</string>
    <string>down-tag</string>
    <string>up-tag</string>
    <string>right-tag</string>
    <string>multi-express</string>
    <string>sun-power</string>
    <string>verify-mode</string>
    <string>nbspace</string>
    <string>ideographicspace</string>
    <string>a-kata</string>
    <string>ismall-kata</string>
    <string>i-kata</string>
    <string>u-kata</string>
    <string>e-kata</string>
    <string>o-kata</string>
    <string>ka-kata</string>
    <string>ga-kata</string>
    <string>ki-kata</string>
    <string>gi-kata</string>
    <string>ku-kata</string>
    <string>gu-kata</string>
    <string>ko-kata</string>
    <string>go-kata</string>
    <string>si-kata</string>
    <string>zi-kata</string>
    <string>su-kata</string>
    <string>zu-kata</string>
    <string>se-kata</string>
    <string>ze-kata</string>
    <string>so-kata</string>
    <string>ta-kata</string>
    <string>da-kata</string>
    <string>ti-kata</string>
    <string>tusmall-kata</string>
    <string>te-kata</string>
    <string>de-kata</string>
    <string>to-kata</string>
    <string>do-kata</string>
    <string>ni-kata</string>
    <string>ne-kata</string>
    <string>no-kata</string>
    <string>ha-kata</string>
    <string>hi-kata</string>
    <string>bi-kata</string>
    <string>pi-kata</string>
    <string>hu-kata</string>
    <string>pu-kata</string>
    <string>he-kata</string>
    <string>be-kata</string>
    <string>pe-kata</string>
    <string>ho-kata</string>
    <string>ma-kata</string>
    <string>mu-kata</string>
    <string>me-kata</string>
    <string>mo-kata</string>
    <string>yasmall-kata</string>
    <string>yosmall-kata</string>
    <string>ra-kata</string>
    <string>ri-kata</string>
    <string>ru-kata</string>
    <string>wa-kata</string>
    <string>n-kata</string>
    <string>prolongedkana-kata</string>
    <string>uni6FC0</string>
    <string>uni53D1</string>
    <string>uni4F60</string>
    <string>uni597D</string>
    <string>uni5947</string>
    <string>semivoiced-hira</string>
    <string>semivoicedcomb-hira</string>
    <string>voiced-hira</string>
    <string>voicedcomb-hira</string>
    <string>pa-kata</string>
    <string>ba-kata</string>
    <string>bo-kata</string>
    <string>po-kata</string>
    <string>bu-kata</string>
    <string>ideographiccomma</string>
    <string>ideographicperiod.ss01</string>
    <string>re-hira</string>
    <string>mi-hira</string>
    <string>wa-hira</string>
    <string>zi-hira</string>
    <string>mi-kata</string>
    <string>ro-kata</string>
    <string>na-kata</string>
    <string>esmall-kata</string>
    <string>sa-kata</string>
    <string>zo-kata</string>
    <string>di-kata</string>
    <string>za-kata</string>
    <string>do-hira</string>
    <string>zu-hira</string>
    <string>ze-hira</string>
    <string>zo-hira</string>
    <string>gi-hira</string>
    <string>gu-hira</string>
    <string>ge-hira</string>
    <string>go-hira</string>
    <string>za-hira</string>
    <string>du-hira</string>
    <string>hi-hira</string>
    <string>he-hira</string>
    <string>uni6587_uniFE00</string>
    <string>uni5B57_uniFE00</string>
    <string>uni6790_uniFE00</string>
    <string>uni79D2_uniFE00</string>
    <string>uni79D1_uniFE00</string>
    <string>uni63DB</string>
    <string>uni5FAE_uniFE00</string>
    <string>uni4F59_uniFE00</string>
    <string>uni4E57</string>
    <string>uni9806</string>
    <string>uni7D44</string>
    <string>uni5408_uniFE00</string>
    <string>uni4E71</string>
    <string>uni6574_uniFE00</string>
    <string>uni500D_uniFE00</string>
    <string>uni7D76</string>
    <string>uni4E38</string>
    <string>uni5411_uniFE00</string>
    <string>uni8F03</string>
    <string>uni6F14</string>
    <string>uni672A_uniFE00</string>
    <string>uni7FA9</string>
    <string>uni6A5F</string>
    <string>uni56E0_uniFE00</string>
    <string>uni4FDD</string>
    <string>uni5B58_uniFE00</string>
    <string>uni547C</string>
    <string>uni65B0_uniFE00</string>
    <string>uni56DB_uniFE00</string>
    <string>uni7A2E</string>
    <string>uni985E</string>
    <string>uni534A_uniFE00</string>
    <string>uni679A_uniFE00</string>
    <string>uni5FC3_uniFE00</string>
    <string>uni5E38_uniFE00</string>
    <string>mo-hira</string>
    <string>uni4E26</string>
    <string>uni6607</string>
    <string>uni964D_uniFE00</string>
    <string>uni5916</string>
    <string>uni5224</string>
    <string>uni5225</string>
    <string>uni63A8</string>
    <string>uni8A8D</string>
    <string>uni500B</string>
    <string>uni66F4_uniFE00</string>
    <string>uni8AD6</string>
    <string>uni63A5</string>
    <string>uni982D</string>
    <string>uni8F9E</string>
    <string>uni5186</string>
    <string>uni8A66</string>
    <string>uni56FA</string>
    <string>uni76F8_uniFE00</string>
    <string>uni9818</string>
    <string>uni57DF_uniFE00</string>
    <string>uni76DB</string>
    <string>uni5E45</string>
    <string>uni592E</string>
  </array>
</dict>
</plist>
