<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>arab</key>
  <array>
    <string>question-ar</string>
    <string>hamza-ar</string>
    <string>alefMadda-ar</string>
    <string>alefHamzaabove-ar</string>
    <string>alefHamzabelow-ar</string>
    <string>yehHamzaabove-ar</string>
    <string>alef-ar</string>
    <string>beh-ar</string>
    <string>tehMarbuta-ar</string>
    <string>teh-ar</string>
    <string>theh-ar</string>
    <string>jeem-ar</string>
    <string>hah-ar</string>
    <string>khah-ar</string>
    <string>dal-ar</string>
    <string>thal-ar</string>
    <string>reh-ar</string>
    <string>zain-ar</string>
    <string>seen-ar</string>
    <string>sheen-ar</string>
    <string>sad-ar</string>
    <string>dad-ar</string>
    <string>tah-ar</string>
    <string>zah-ar</string>
    <string>ain-ar</string>
    <string>ghain-ar</string>
    <string>feh-ar</string>
    <string>qaf-ar</string>
    <string>kaf-ar</string>
    <string>lam-ar</string>
    <string>meem-ar</string>
    <string>noon-ar</string>
    <string>heh-ar</string>
    <string>waw-ar</string>
    <string>alefMaksura-ar</string>
    <string>yeh-ar</string>
    <string>damma-ar</string>
    <string>madda-ar</string>
    <string>hamzaabove-ar</string>
    <string>hamzabelow-ar</string>
    <string>alefMadda-ar.isol</string>
    <string>alefMadda-ar.fina</string>
    <string>alefHamzaabove-ar.fina</string>
    <string>yehHamzaabove-ar.fina</string>
    <string>yehHamzaabove-ar.init</string>
    <string>yehHamzaabove-ar.medi</string>
    <string>alef-ar.isol</string>
    <string>alef-ar.fina</string>
    <string>beh-ar.isol</string>
    <string>beh-ar.fina</string>
    <string>beh-ar.init</string>
    <string>beh-ar.medi</string>
    <string>tehMarbuta-ar.isol</string>
    <string>tehMarbuta-ar.fina</string>
    <string>teh-ar.isol</string>
    <string>teh-ar.fina</string>
    <string>teh-ar.init</string>
    <string>teh-ar.medi</string>
    <string>theh-ar.isol</string>
    <string>theh-ar.fina</string>
    <string>theh-ar.init</string>
    <string>theh-ar.medi</string>
    <string>jeem-ar.isol</string>
    <string>jeem-ar.fina</string>
    <string>jeem-ar.init</string>
    <string>jeem-ar.medi</string>
    <string>hah-ar.isol</string>
    <string>hah-ar.fina</string>
    <string>hah-ar.init</string>
    <string>hah-ar.medi</string>
    <string>khah-ar.isol</string>
    <string>khah-ar.fina</string>
    <string>khah-ar.init</string>
    <string>khah-ar.medi</string>
    <string>dal-ar.isol</string>
    <string>dal-ar.fina</string>
    <string>thal-ar.isol</string>
    <string>thal-ar.fina</string>
    <string>reh-ar.isol</string>
    <string>reh-ar.fina</string>
    <string>zain-ar.isol</string>
    <string>zain-ar.fina</string>
    <string>seen-ar.isol</string>
    <string>seen-ar.fina</string>
    <string>seen-ar.init</string>
    <string>seen-ar.medi</string>
    <string>sheen-ar.isol</string>
    <string>sheen-ar.fina</string>
    <string>sheen-ar.init</string>
    <string>sheen-ar.medi</string>
    <string>sad-ar.isol</string>
    <string>sad-ar.fina</string>
    <string>sad-ar.init</string>
    <string>sad-ar.medi</string>
    <string>dad-ar.isol</string>
    <string>dad-ar.fina</string>
    <string>dad-ar.init</string>
    <string>dad-ar.medi</string>
    <string>tah-ar.isol</string>
    <string>tah-ar.fina</string>
    <string>tah-ar.init</string>
    <string>tah-ar.medi</string>
    <string>zah-ar.isol</string>
    <string>zah-ar.fina</string>
    <string>zah-ar.init</string>
    <string>zah-ar.medi</string>
    <string>ain-ar.isol</string>
    <string>ain-ar.fina</string>
    <string>ain-ar.init</string>
    <string>ain-ar.medi</string>
    <string>ghain-ar.isol</string>
    <string>ghain-ar.fina</string>
    <string>ghain-ar.init</string>
    <string>ghain-ar.medi</string>
    <string>feh-ar.isol</string>
    <string>feh-ar.fina</string>
    <string>feh-ar.init</string>
    <string>feh-ar.medi</string>
    <string>qaf-ar.isol</string>
    <string>qaf-ar.fina</string>
    <string>qaf-ar.init</string>
    <string>qaf-ar.medi</string>
    <string>kaf-ar.isol</string>
    <string>kaf-ar.fina</string>
    <string>kaf-ar.init</string>
    <string>kaf-ar.medi</string>
    <string>lam-ar.isol</string>
    <string>lam-ar.fina</string>
    <string>lam-ar.init</string>
    <string>lam-ar.medi</string>
    <string>meem-ar.isol</string>
    <string>meem-ar.fina</string>
    <string>meem-ar.init</string>
    <string>meem-ar.medi</string>
    <string>noon-ar.isol</string>
    <string>noon-ar.fina</string>
    <string>noon-ar.init</string>
    <string>noon-ar.medi</string>
    <string>heh-ar.isol</string>
    <string>heh-ar.fina</string>
    <string>heh-ar.init</string>
    <string>heh-ar.medi</string>
    <string>waw-ar.isol</string>
    <string>waw-ar.fina</string>
    <string>alefMaksura-ar.isol</string>
    <string>alefMaksura-ar.fina</string>
    <string>yeh-ar.isol</string>
    <string>yeh-ar.fina</string>
    <string>yeh-ar.init</string>
    <string>yeh-ar.medi</string>
    <string>lam_alefHamzaabove-ar</string>
    <string>lam_alefHamzabelow-ar</string>
  </array>
</dict>
</plist>
